@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Nunito", sans-serif;
  color: #676767;
  background-color: #1e1e1e;
}

.bg-card {
  background-color: #171717;
}
.bg-sidebar-card-top {
  background-color: #353535;
}
.sidebar-separator-top {
  border-bottom: 1px solid #2e2e2e;
}
.sidebar-separator-bottom {
  border-top: 1px solid #2e2e2e;
}
.text-premium-yellow {
  color: #f7b91c;
}
.icon-background {
  background: #2d2d2d;
}

.tooltip-head {
  background: #1d1d1d;
}
.tooltip-body {
  background: #252525;
}

.search-icon {
  top: 50%;
  transform: translate(0, -50%);
}

.card-stack-border {
  border-bottom: 2px solid #696969;
}
.bg-details {
  background-color: #1e1e1e;
}

.add-component-head {
  background-color: #181818;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
}

@layer components {
  .sidebar-item-selected {
    @apply border-r-4  border-white bg-indigo-600 text-white transition-all duration-150;
  }
  .sidebar-item {
    @apply border-r-4 border-transparent transition-all duration-150 hover:border-white hover:text-white/90;
  }
  .input {
    @apply bg-card block w-full rounded-lg border-2 border-transparent py-2 pl-12 pr-2 text-white placeholder-gray-600
    outline-none transition-all duration-200 focus:border-gray-200 focus:placeholder-gray-200;
  }
  .indigo-button {
    @apply flex rounded-md bg-indigo-600 px-4 py-2 text-white/90 shadow-lg shadow-indigo-600/40 transition-all duration-200 hover:bg-indigo-500 hover:text-white;
  }
  .pink-button {
    @apply flex rounded-md bg-pink-600 px-4 py-2 text-white/90 shadow-lg shadow-pink-600/40 transition-all duration-200 hover:bg-pink-500 hover:text-white;
  }
  .emerald-button {
    @apply flex rounded-md bg-emerald-600 px-4 py-2 text-white/90 shadow-lg shadow-emerald-600/40 transition-all duration-200 hover:bg-emerald-500 hover:text-white;
  }
  .yellow-button {
    @apply rounded-md bg-yellow-600 px-4 py-2 text-white/90 shadow-lg shadow-yellow-600/40 transition-all duration-200 hover:bg-yellow-500 hover:text-white;
  }
  /* ... */
}

* {
  scrollbar-width: auto;
  scrollbar-color: #171717 #1e1e1e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #1e1e1e;
}

*::-webkit-scrollbar-thumb {
  background-color: #171717;
  border-radius: 10px;
  border: 3px solid #1e1e1e;
}
